.elementor-29 .elementor-element.elementor-element-78903d2:not(.elementor-motion-effects-element-type-background),
.elementor-29 .elementor-element.elementor-element-78903d2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-uicore_dark);
}

.elementor-29 .elementor-element.elementor-element-78903d2 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-29 .elementor-element.elementor-element-78903d2>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-29 .elementor-element.elementor-element-e92219f>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-29 .elementor-element.elementor-element-a43a445 {
    padding: 50px 0px 50px 0px;
}

.elementor-bc-flex-widget .elementor-29 .elementor-element.elementor-element-0dba5f2.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-29 .elementor-element.elementor-element-0dba5f2.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-29 .elementor-element.elementor-element-b5de229 {
    text-align: right;
}

.elementor-29 .elementor-element.elementor-element-b5de229 img {
    width: 100px;
}

.elementor-29 .elementor-element.elementor-element-3b316fa {
    color: #FFFFFF;
    font-size: 18px;
}

.elementor-29 .elementor-element.elementor-element-f633c4b {
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #FFFFFF1F;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 0px 40px 0px;
}

.elementor-29 .elementor-element.elementor-element-f633c4b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-29 .elementor-element.elementor-element-1d0d50e .elementor-heading-title {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.elementor-29 .elementor-element.elementor-element-83f91da .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-29 .elementor-element.elementor-element-83f91da .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-29 .elementor-element.elementor-element-83f91da .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-29 .elementor-element.elementor-element-83f91da .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-29 .elementor-element.elementor-element-83f91da .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-29 .elementor-element.elementor-element-83f91da .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-29 .elementor-element.elementor-element-83f91da {
    --e-icon-list-icon-size: 14px;
}

.elementor-29 .elementor-element.elementor-element-83f91da .elementor-icon-list-text {
    color: #FFFFFF6E;
}

.elementor-29 .elementor-element.elementor-element-83f91da .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var(--e-global-color-uicore_accent);
}

.elementor-29 .elementor-element.elementor-element-83f91da .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-29 .elementor-element.elementor-element-83f91da .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-uicore_secondary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-uicore_secondary-font-weight);
}

.elementor-29 .elementor-element.elementor-element-c886263 {
    padding: 20px 0px 20px 0px;
}

.elementor-29 .elementor-element.elementor-element-7e950b8 {
    text-align: center;
    color: #FFFFFF;
}

.elementor-widget .tippy-tooltip .tippy-content {
    text-align: center;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-29 .elementor-element.elementor-element-0dba5f2 {
        width: 40%;
    }
}

@media(max-width:1024px) {
    .elementor-29 .elementor-element.elementor-element-a43a445 {
        padding: 40px 0px 40px 0px;
    }

    .elementor-29 .elementor-element.elementor-element-0dba5f2>.elementor-element-populated {
        margin: 0px 30px 0px 0px;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 0px;
    }

    .elementor-29 .elementor-element.elementor-element-b5de229 img {
        width: 90px;
    }

    .elementor-29 .elementor-element.elementor-element-3b316fa {
        font-size: 17px;
    }

    .elementor-29 .elementor-element.elementor-element-f633c4b {
        padding: 30px 0px 30px 0px;
    }

    .elementor-29 .elementor-element.elementor-element-1d0d50e .elementor-heading-title {
        font-size: 17px;
    }

    .elementor-29 .elementor-element.elementor-element-c886263 {
        padding: 15px 0px 15px 0px;
    }
}

@media(max-width:767px) {
    .elementor-29 .elementor-element.elementor-element-a43a445 {
        padding: 30px 0px 30px 0px;
    }

    .elementor-29 .elementor-element.elementor-element-0dba5f2>.elementor-element-populated {
        margin: 0px 0px 20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-29 .elementor-element.elementor-element-b5de229 img {
        width: 110px;
    }

    .elementor-29 .elementor-element.elementor-element-3b316fa {
        font-size: 16px;
    }

    .elementor-29 .elementor-element.elementor-element-f633c4b {
        padding: 30px 0px 30px 0px;
    }

    .elementor-29 .elementor-element.elementor-element-12f3b8b {
        width: 50%;
    }

    .elementor-29 .elementor-element.elementor-element-12f3b8b>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-29 .elementor-element.elementor-element-1d0d50e .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-29 .elementor-element.elementor-element-c886263 {
        padding: 10px 0px 10px 0px;
    }
}